body{
   background-color: rgb(223, 255, 13);
   font-family: fantasy;
}




h1{
  color:rgb(8, 104, 189);
}

h2{
   color:rgb(60, 150, 230);
}

h4{
    
    padding-left: 1000px;
}
